/* body{
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
		font-style: 14pt;
} */

/* New */
.viewShadow, .chart,.tooltipContainer {
    -moz-box-shadow:     2px 4px 4px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow:  2px 4px 4px rgba(0, 0, 0, 0.13);
    box-shadow:          2px 4px 4px rgba(0, 0, 0, 0.13);
    /*background: #fafafa;*/
}
.viewShadow2{
		-webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.33);
		-moz-box-shadow: 		4px 4px 2px 0px rgba(0,0,0,0.33);
		box-shadow: 				4px 4px 2px 0px rgba(0,0,0,0.33);
}
.tooltipContainer,.chart{
	background: #fafafa;

}
.tooltipInfo,.label{
	font-size: 0.7em;
	/* font-family: 'roboto-light'; */
}
.tooltipContainer{
  z-index: 1;
}
.x-axis{
    stroke: #8d8d8d;
    stroke-width:1;
}

/* title: oldname (orderedWeights, Bubbles), viewTitle: new name (BarChartGroupV4) */
.title, .viewTitle{
    text-align: center;
    font-size:1em;
    margin: 10px auto;
}

.adequate{
    fill: #27ae60;
}
.insufficient{
    fill: #f39c12;
}
.inadequate{
    fill: #c0392b;
}

/* Histogram */

.caption{
    font-size: 0.6em;
}
.chartsContainer{
    display: grid;
    grid-gap: 4px;
    grid-auto-flow: dense;
    /*padding: 10px;*/
		/*margin: 10px;*/
		justify-content: center;
}
svg text{
    fill: #4c4c4c;
}
.svgChart{
    display: block;
    /* margin: 10px; */
}
.caption,.label, .viewSvgTitle{
    text-anchor: middle;
}


/* Orderd Weights */
.weightsContainer{
    padding: 10px 50px;
}
.weightsGridContainer{
    display:grid;
    align-items:end;
    justify-self: center;
}
.div-weight{
    grid-row:1;
    grid-auto-flow: column;
    grid-column-start: span;
}
.weightimg{
    margin: auto;
    display: block;
}

/* Bubbles */
.bubblesContainer{
    /*grid-gap: 4px;*/
}
.adequate{
    background: #27ae60;
}
.inadequate{
    background: #c0392b;
}
.inadequate, .adequate{
    padding: 5px;
    margin: 2px;
    border-radius: 2px;
}
.titleBubble{
    font-size: 1.25em;
    text-align: center;
    color: white;
    padding: 10px;
}

.captionBubbles {
    text-align: center;
    font-size: 0.7em;
    color: white;
    font-family: 'roboto-light';
    float:none;
    clear:both;
}
.subGridAdequate, .subGridInadequate{
    padding: 10px;
    margin: 0px 50px;
    justify-content: center;
}
.element{
    text-align: center;
}

.bubbleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto-fill;
}
.inadequateBubble, adequateBubble{
    grid-row: 1;
    grid-column: span;
}
.titleBubble{

}
.subGridInadequate, .subGridAdequate{
    display: grid;
    margin: auto;
}
 .inadequateElement, .adequateElement{
     grid-row: auto;
     grid-column: span;
     justify-content: center;
}
.element{
    justify-self: center;
}
.elementIcon{
    float: left;
}
.elementArrow{
    margin: 0px -25px;
    float: left;
    /*clear: none*/
}
