// Adicionar regra para o fundo meio "escuro" para diferencias a area das questões

@import "~bootstrap-material-design/scss/bootstrap-material-design";
//Adicionando ao arquivo do survey eu posso extender
.survey-gray-bg{
  background-color: #e7e7e7;
}
.survey-light-bg{
  background-color: #fafafa;
}
.section{
    // transformei em classe
  padding: 30px 0;
}
.sticky-progress-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    height: 20px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.survey-sidebar, .survey-sidebar ul li list-group-item{
    @extend .text-muted;
    // padding: 2px;
    // margin: 2px;
    font-size: 0.8em;
}

// .survey-sidebar li list-group-item{
//
// }
.container .form-group{
    margin-bottom: 10px;
}
.survey-radio-box{
    // transformei em classe
    @extend .align-items-end;
    margin: 5px;
    min-height: 1.5em;

}
.survey-radio-label{
    // transformei em classe
    padding: 5px;
}

#viewAppContainer{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#splitView{
  max-height: 50vh;
  width: 100vw;
  overflow-x: scroll;
}
#splitSurvey{
  height: auto;
  max-height: 50vh;
  overflow-x: scroll;
  margin: 20px;
}
